.sfx{
	    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
}
span{
	background-color: #44A8eb;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
}
ul{
	list-style: none;
}
input[type='text']{
        margin-top: 20px;
    text-transform: uppercase;
}
input[type='text']:first-letter{
     color: red;
}