@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
body{
    font-family: roboto, sans-serif;
}
.sfx{
	    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
}
span{
	background-color: #44A8eb;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
}
ul{
	list-style: none;
}
input[type='text']{
        margin-top: 20px;
    text-transform: uppercase;
}
input[type='text']:first-letter{
     color: red;
}
.indisplayable{
    opacity: 0;
    transform:translateY(70px);
    transition:.5s;
}
.super-disp{
    opacity: 1;
    transform:translateY(0);
}
button[disabled], html input[disabled] {
    cursor: default;
    opacity: .5;
}
#messages-holder{
        position: fixed;
    bottom: 0;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}
#intro-text{
    display: block;
    /* position: static; */
    margin: auto;
    /* width: 17px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    /* font-family: Raleway; */
    font-size: 32px;
    font-weight: 100;
    opacity: .7;
}
.sweet-alert button {
    
    padding: 1px 31px;

}
button, .button {
margin-top: 0;
    /* position: relative; */
    /* top: -1px; */
    -webkit-appearance: none;
    height: 40px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #56A9FF;
    padding: 0 20px;
    border-radius: 4px;
    font-weight: 300;
    transition:.25s;
}
button:hover{
    background-color: #56A9FF;
    color: white;
}
input[type='text'] {
    margin-top: 20px;
    text-transform: uppercase;
    height: 40px;
    box-sizing: border-box;
    padding: 0 0px 0 10px;
    border: 1px solid #56A9FF;
    /* padding: 0 20px; */
    border-radius: 4px;
    outline: none;
    font-weight: 300;
}
input[type=range] {
    -webkit-appearance: none;
    background-color: #5CACFF;
    width: 120px;
    height:2px;
    outline:none;
    transition:.2s;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    width: 16px;
    height: 16px;
    opacity: 1;
    background-color: white;
    border: solid 1px #56A9FF;
    border-radius: 9px;
    cursor: pointer;
    transition:.2s;
}
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb
{

    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
}
  #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #chartjs-tooltip.below {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #chartjs-tooltip.below:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, .8) transparent;
        border-width: 0 8px 8px 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    #chartjs-tooltip.above {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    #chartjs-tooltip.above:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, .8) transparent;
        border-width: 8px 8px 0 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        top: 100%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    h3{

    font-weight: 300;
    font-size: 26px;
    margin-bottom:30px;
    text-align: center;
    color: #444444;
    }
    .settings{
        float: right;
        margin-top: 20px;
        position: relative;
        text-align: center;;  
            margin-top: 37px;  
    }
    .icon{
        display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition:.3s;
    }
    .icon:hover{
        color: #56A9FF;
    }
    .sheet{
        position: absolute;
    width: 160px;
    /* transform: translateX(-50%); */
    margin-left: -60px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 35px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.55);
    z-index: 100;
        border: 1px solid #56A9FF;
    display: none;

    }
    .opened{
 color: #56A9FF;
    }
    hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}